.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 35vw;
    height: 35vh;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    height: 10px;
  }