.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: fit-content;
    height: fit-content;
    div {
      text-align: center;
      padding: 20px 0;
      height: 10px;
      width: 50px;
    }
  } 