// minimum size between viewport height and viewport width to prevent clipping
$cell-size: calc((min(100vh, 100vw) / 8) * 0.8);

.cell {
    position: relative;
    text-align: center;
    height: $cell-size;
    width: $cell-size;
}

.black-cell {
    /* background-color: #ab5e3d; */
    background-color: #769656;

    &.highlighted-cell {
        background-color: #bbca2b;
    }

    .row-rank, .col-file {
        color: white;
    }
}

.white-cell {
    /* background-color: #d3ac72; */
    background-color: #eeeed2;

    &.highlighted-cell {
        background-color: #f6f668;
    }

    .row-rank, .col-file {
        color: gray;
    }
}

.img-wrapper {
    position: absolute;
    width: $cell-size;
    height: $cell-size;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    will-change: transform; // makes animation smoother (was glitching abit sometimes without this)
}

img {
    width: 100%;
    height: 100%;
}

.rank-and-files {
    font-size: calc($cell-size / 4);
    font-weight: bold;
}

.row-rank {
    position: absolute;
    padding-left: 0.1em;
    top: 0px;
    left: 1px;
}

.col-file {
    position: absolute;
    padding-right: 0.1em;
    bottom: 0;
    right: 1px;
}